*{
    
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


.container{
    margin-top: 10%;
  margin-left: 29%;

  margin-bottom: 10%;
}

#img{
    object-fit: cover;
    width:50%;
    height:100%; 
    margin-bottom: 10px;
}